<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido!</h1>
    <h2>Inicio Sesión</h2>
    <form id="login">
        <label for="nombre">Usuario</label>
            <input type="text" id="user">
        <label for="pass">Contraseña</label>
            <input type="password" id="pass">
        <button type="submit" id="ingresar">Iniciar Sesión</button>
    </form>

    <h2>Registrarse</h2>
    <form id="register">
        <label for="nombre">Usuario</label>
            <input type="text" id="userRegister">
        <label for="pass">Contraseña</label>
            <input type="password" id="passRegister">
        <button type="submit" id="registrar">Registrarse</button>
    </form>
    <div id="error">
        
    </div>

<script src="../js/register.js"></script>
</body>
</html>