<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-main sticky-top">
        <div class="container-fluid me-1">
            <a class="navbar-brand" href="index.html"><img src="" alt=""></a>
            <button class="navbar-toggler navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link  viewscolor" href="monitoreo.html">Monitoreo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link viewscolor" href="boutique.html">Boutique</a>
                    </li>    
                    <li class="nav-item">
                        <a class="nav-link viewscolor" href="registro.html">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  viewscolor" href="login.html">Iniciar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div id="divRegistro">
        <h2>REGISTRO</h2>
        <form id="formNuevoRegistro">
            <p>Bienvenido! Ustede debe registrarse por primera y unica vez como nuevo jugador del plantel</p>
            <p>A continuación, ingrese sus datos</p>
            <br>
            <input type="text" id="dni_registro" placeholder="DNI">
            <input type="text" id="nombre_registro" placeholder="Nombre">
            <input type="text" id="apellido_registro" placeholder="Apellido">
            <label for="puesto">PUESTO</label>
                <select id="puesto_registro">
                    <option value="1">Pilar Izquierdo</option>
                    <option value="2">Hooker</option>
                    <option value="3">Pilar Derecho</option>
                    <option value="4">Segunda Linea Izquierdo</option>
                    <option value="5">Segunda Linea Derecho</option>
                    <option value="6">Ala izquierdo</option>
                    <option value="7">Octavo</option>
                    <option value="8">Ala derecho</option>
                    <option value="9">Medio Scrum</option>
                    <option value="10">Apertura</option>
                    <option value="11">Wing Izquierdo</option>
                    <option value="12">Primer Centro</option>
                    <option value="13">Segundo Centro</option>
                    <option value="14">Wing Derecho</option>
                    <option value="15">Full Back</option>
                </select>   
            <label for="altura">ALTURA (cm)</label>
                <input type="number" id="altura_registro">
            <label for="peso">PESO (kg)</label>
                <input type="number" id="peso_registro">
            <button type="submit" id="submitRegistro">ENVIAR REGISTRO</button>
        </form>
    </div>
    <div id="divMensajeRegistrado">

    </div>
    <div id="confirmacionmonitoreo">

    </div>



<script src="../js/registro.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</body>
</html>